/* Style inputs with type="text", select elements and textareas */
.rsvp-form input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.rsvpblock {
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */  
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

/* Style the submit button with a specific background color etc */
.rsvp-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.rsvp-form input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.rsvp-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow: auto;
}

.rsvpdivs {
    padding: 0px 30px 15px 15px
}

::-webkit-input-placeholder { /* Chrome */
  color: black;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.4;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 0.6;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.4;
}